version: "3.9"

services:
  db:
    image: postgres:16
    container_name: cpp-postgres
    environment:
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpassword
      POSTGRES_DB: testdb
    ports:
      - "5433:5432"